<!-- padding y-axis=3, margin top auto- moved footer to bottom -->
<footer class="footer bg-dark py-3 mt-auto" data-bs-theme="dark">
    <div class="container">
        <span class="text-muted">&copy; Flashcards 2023</span>
    </div>
</footer>