<!-- padding y-axis=3, margin top auto- moved footer to bottom -->
<footer class="footer py-3 mt-auto">
    <div class=" container">
        <span class="text">&copy; Flashy 2023</span>
    </div>
</footer>