<% layout('layouts/boilerplate') %>
<div class="row">
    <h2 class="text-center">
        New Card Set
    </h2>
    <div class="col-md-6 offset-md-3">
        <!-- need to change form type to enctype="multipart/form-data" if you want to include image upload -->
        <form action="/cardSets" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="cardSet[title]" required>
                <div class="valid-feedback">
                Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="cardSet[description]" required></textarea>
                <div class="valid-feedback">
                Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Create Card Set</button>
            </div>
        </form>
    </div>
</div>