.hidden {
    display: none;
}

.flashcard {
    display: flex;
    text-align: center;
    height: 175px;
    line-height: 175px;
}

.flashcard-text {
    cursor: pointer;
    font-size: 2em;
}

#button-holder {
    display: flex;
    justify-content: center;
}

#flashcard-backward {
    margin: 3px;
}

#flashcard-forward {
    margin: 3px;
}

.card-display {
    justify-content: space-between;
}

.delete-button {
    display: inline-block;
}