.hidden {
    display: none;
}

.navbar {
    background-color: #2649bc;
}

.footer {
    background-color: #2649bc;
    color: #fffbfb;
}

.navbar-brand {
    font-family: 'Calistoga', cursive;
    font-size: 1.5em;
}

body {
    font-family: 'Rubik', sans-serif;
}

.flash-message.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bi {
    font-size: 2.5em;
    cursor: pointer;
}

.flashcard {
    display: flex;
    text-align: center;
    height: 250px;
    perspective: 1000px;
    position: relative;
    cursor: pointer;
}

.flashcard-card {
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.flashcard-text {
    font-size: 3em;
    text-align: center;
    font-family: 'Merriweather', serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.flashcard-front {
    transform: rotateY(0deg);
}

.flashcard-back {
    transform: rotateY(180deg);
}

.flashcard.flipped .flashcard-front {
    transform: rotateY(180deg);
}

.flashcard.flipped .flashcard-back {
    transform: rotateY(0deg);
}

@media (max-width: 767px) {
    .form-group button {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .create-card button {
        margin-top: 10px;
    }
}